@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
.hidden {
  overflow: hidden;
}

.centrado {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: black;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes ldio-lvj2kja3z4l {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.5, 1.5);
  }
  100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
  }
}
.ldio-lvj2kja3z4l div > div {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #5f2a62;
  animation: ldio-lvj2kja3z4l 1s linear infinite;
}

.ldio-lvj2kja3z4l div:nth-child(1) > div {
  left: 148px;
  top: 88px;
  animation-delay: -0.875s;
}

.ldio-lvj2kja3z4l > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 160px 100px;
}

.ldio-lvj2kja3z4l div:nth-child(2) > div {
  left: 130px;
  top: 130px;
  animation-delay: -0.75s;
}

.ldio-lvj2kja3z4l > div:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 142px 142px;
}

.ldio-lvj2kja3z4l div:nth-child(3) > div {
  left: 88px;
  top: 148px;
  animation-delay: -0.625s;
}

.ldio-lvj2kja3z4l > div:nth-child(3) {
  transform: rotate(90deg);
  transform-origin: 100px 160px;
}

.ldio-lvj2kja3z4l div:nth-child(4) > div {
  left: 46px;
  top: 130px;
  animation-delay: -0.5s;
}

.ldio-lvj2kja3z4l > div:nth-child(4) {
  transform: rotate(135deg);
  transform-origin: 58px 142px;
}

.ldio-lvj2kja3z4l div:nth-child(5) > div {
  left: 28px;
  top: 88px;
  animation-delay: -0.375s;
}

.ldio-lvj2kja3z4l > div:nth-child(5) {
  transform: rotate(180deg);
  transform-origin: 40px 100px;
}

.ldio-lvj2kja3z4l div:nth-child(6) > div {
  left: 46px;
  top: 46px;
  animation-delay: -0.25s;
}

.ldio-lvj2kja3z4l > div:nth-child(6) {
  transform: rotate(225deg);
  transform-origin: 58px 58px;
}

.ldio-lvj2kja3z4l div:nth-child(7) > div {
  left: 88px;
  top: 28px;
  animation-delay: -0.125s;
}

.ldio-lvj2kja3z4l > div:nth-child(7) {
  transform: rotate(270deg);
  transform-origin: 100px 40px;
}

.ldio-lvj2kja3z4l div:nth-child(8) > div {
  left: 130px;
  top: 46px;
  animation-delay: 0s;
}

.ldio-lvj2kja3z4l > div:nth-child(8) {
  transform: rotate(315deg);
  transform-origin: 142px 58px;
}

.loadingio-spinner-spin-ejlfy009sy {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: black;
}

.ldio-lvj2kja3z4l {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.ldio-lvj2kja3z4l div {
  box-sizing: content-box;
}

header {
  width: 100%;
  height: 600px;
  background-image: linear-gradient(to right, #eea2a294 0%, #bbc1bf8c 19%, #57c5e181 42%, #b49fda8a 79%, #7ac5d88a 100%), url(/assets/images/header8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
header nav {
  position: fixed;
  height: 80px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: white;
}
header nav .container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  width: 80%;
  margin: auto;
}
header nav .container-nav .logo img {
  height: 80px;
}
header nav .container-nav .enlaces a {
  display: inline-block;
  padding: 5px 0;
  margin-right: 17px;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  color: inherit;
}
header nav .container-nav .enlaces a:hover {
  border-bottom: 3px solid #0093E9;
  transition: 0.6s;
}
header nav .container-nav .icono {
  display: none;
  font-size: 24px;
  padding: 23.5px 20px;
}
header .nav1 {
  background: transparent;
  height: 80px;
  color: #fff;
}
header .nav2 {
  background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
  height: 100px;
  color: #0093E9;
  font-size: 50px;
}
header .textos {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
  overflow: hidden;
  text-align: center;
}
header .textos h1 {
  font-size: 80px;
}
header .textos h2 {
  font-size: 30px;
  font-weight: 300;
}

@media (max-width: 768px) {
  header nav .container-nav .icono {
    display: block;
    cursor: pointer;
  }
  header nav .container-nav .enlaces {
    position: fixed;
    top: 80px;
    background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
    background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
    left: 0;
    height: 93%;
    transition: 1s;
    width: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  header nav .container-nav .enlaces a {
    display: block;
    width: 100%;
    /* height: 50px; */
    padding: 20px;
    text-align: center;
    /* background: color.$nine-color; */
    color: #0d8686;
  }
  header .nav2 {
    color: white;
  }
  header .textos h1 {
    font-size: 70px;
  }
  header .textos h2 {
    font-size: 35px;
  }
}
.team .card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.team .card .content-card {
  width: 31%;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
  height: 400px;
}
.team .card .content-card .people {
  height: 80%;
}
.team .card .content-card .people img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.team .card .content-card .texto-team {
  height: 20%;
  width: 100%;
  padding: 10px 0;
}

@media (max-width: 768px) {
  .team .card .content-card {
    width: 45%;
    margin-bottom: 30px;
  }
}
@media (max-width: 500px) {
  .team .card .content-card {
    width: 90%;
  }
}
.about {
  background: url(/assets/images/patron1.jpeg);
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.about .servicios {
  display: flex;
  justify-content: space-between;
  color: #eeaf3a;
  margin: auto;
  flex-wrap: wrap;
}
.about .servicios .caja-servicios {
  width: 30%;
}
.about .servicios .caja-servicios .icon-servicios {
  width: 120px;
}
.about .servicios .caja-servicios h4 {
  margin-bottom: 10px;
}

@media (max-width: 500px) {
  .about .servicios .caja-servicios {
    width: 100%;
    margin-bottom: 30px;
  }
}
.work .botones-work {
  overflow: hidden;
}
.work .botones-work li {
  display: inline-block;
  text-align: center;
  margin-left: 10px;
  margin-bottom: 45px;
  padding: 6px 12px;
  border: 1px solid #0d8686;
  color: #0d8686;
  font-size: 18px;
  font-weight: 500;
}
.work .botones-work li:hover {
  background: #0d8686;
  color: #fff;
  cursor: pointer;
}
.work .botones-work .active {
  background: #0d8686;
  color: #fff;
}
.work .galeria-work {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.work .galeria-work .cont-work {
  width: 30%;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  height: 300px;
  overflow: hidden;
  margin-bottom: 45px;
}
.work .galeria-work .cont-work .img-work {
  height: 90%;
  width: 100%;
}
.work .galeria-work .cont-work .img-work img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.work .galeria-work .cont-work .img-work .textos-work {
  height: 10%;
}
.work .galeria-work .cont-work .img-work .textos-work h4 {
  line-height: 30px;
  font-weight: 700;
  font-size: 20px;
  color: #eeaf3a;
}

@media (max-width: 768px) {
  .work .galeria-work .cont-work {
    width: 45%;
  }
}
@media (max-width: 500px) {
  .work .galeria-work .cont-work {
    width: 85%;
  }
}
footer {
  background: url(/assets/images/footer3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
  width: 100%;
}
footer .footer {
  /* & .marca-logo{
      width: 40%;
      margin: auto;
      margin-bottom: 20px;
      height: 40px;

      & img{
          width: 40%;

      }
  } */
}
footer .footer .iconos {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: auto;
}
footer .footer .iconos .fab {
  font-size: 60px;
  color: #0d8686;
  margin-bottom: 20px;
  display: inline-block;
  cursor: pointer;
}
footer .footer .iconos .fab:hover {
  background: #0d8686;
  color: #fff;
  padding: 2px;
  border-radius: 5px;
}
footer .footer .footer-text {
  color: #0d8686;
  font-weight: 700;
  font-size: 22px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #ebcbcb;
}

img {
  vertical-align: top;
}

.contenedor {
  margin: 0 auto;
  padding: 60px 0;
  width: 90%;
  max-width: 1000px;
  text-align: center;
  overflow: hidden;
}
.contenedor h3 {
  font-size: 33px;
  color: #0d8686;
  margin-bottom: 10px;
}
.contenedor p {
  font-size: 20px;
  color: #0d8686;
  margin-bottom: 30px;
}
.contenedor .after:after {
  content: "";
  display: block;
  margin: auto;
  margin-top: 10px;
  width: 100px;
  height: 2px;
  background-color: #0d8686;
  margin-bottom: 10px;
}

/*# sourceMappingURL=style.css.map */
