$one-color: #eeaf3a;
$two-color: #0d8686;
$three-color: #3b3baf;
$four-color: rgb(235, 203, 203);
$five-color: #80D0C7;
$six-color: #0093E9;
$seven-color: #fff;
$eight-color: rgb(41, 36, 36);
$nine-color: rgb(61, 56, 56);
